<div class="src">
    <div class="container-fluid">
        <app-header></app-header>
        <div class="screen com0006">
            <p class="notification" translate *ngIf="showNotification">CHANGE_PASSWORD.TITLE</p>
            <ul>
                <li *ngFor="let error of listError" class="warning">
                    <p translate>{{error}}</p>
                </li>
            </ul>
            <p>「<span class="warning">*</span>」<span translate>CHANGE_PASSWORD.WARNING_FIRST</span></p>
            <div class="content-title">
            </div>
            <ul class="main-content">
                <li>
                    <span translate><span class="warning">*</span>CHANGE_PASSWORD.PASSWORD_CURRENT</span>
                    <input type="password" class="input-password mrl-10" [(ngModel)]="oldPass" name="password" autofocus
                        autocomplete="false">
                </li>
                <li>
                    <span class="full-height" translate><span
                            class="warning">*</span>CHANGE_PASSWORD.NEW_PASSWORD</span>
                    <div class="division-password">
                        <input type="password" class="input-password" [(ngModel)]="newPass" name="password"
                            autocomplete="false">
                        <div>
                            <input type="password" class="input-password" [(ngModel)]="retypePass"
                                name="passwordConfirm" autocomplete="false" />{{'CHANGE_PASSWORD.RE_ENTER' | translate}}
                        </div>
                    </div>
                </li>
            </ul>
            <p translate>CHANGE_PASSWORD.WARNING_SECOND<span class="warning">{{passwordLevel}}</span><span
                    class="warning" translate>CHANGE_PASSWORD.WARNING_THIRD</span><span
                    translate>CHANGE_PASSWORD.WARNING_LAST</span></p>
            <div class="btn-group"><button class="btn btn-cancel" (click)="back()"
                    translate>COMMON.BUTTON_BACK</button><button (click)="openDialog()" class="btn btn-native"
                    translate>COMMON.BUTTON_NEXT</button></div>
        </div>
        <app-footer></app-footer>
    </div>
</div>