<div class="com0003-container">
    <div class="container-fluid">
        <div class="control">
            <div class="com0003 screen">
                <h3>{{'RESET_PASSWORD.TITLE' | translate}}</h3>
                <p>{{'RESET_PASSWORD.CONTENT_FIRST' | translate}}</p>
                <p>{{'RESET_PASSWORD.CONTENT_SECOND' | translate}}<br>{{'RESET_PASSWORD.CONTENT_LAST' | translate}}</p>

                <div class="wrapper-data">
                    <div class="top">
                        <span class="width-row">{{'RESET_PASSWORD.MAIL' | translate}}</span>
                        <input type="text" name="" [(ngModel)]="userID" autofocus>
                    </div>
                </div>
                <div class="btn-group"><button class="btn btn-native"
                        (click)="resetPassword()">{{'RESET_PASSWORD.BUTTON_SEND' | translate}}</button>
                    <button class="btn btn-cancel" (click)="backToLogin()">{{'COMMON.BUTTON_CANCEL' | translate}}</button>
                </div>
                <!--contact admin service-->
                <div>
                    <p>
                        {{'COMMON.CONTENT_LINK_CONTACT_ADMIN_HEAD' | translate}}<br>
                        {{'COMMON.CONTENT_LINK_CONTACT_ADMIN_SECOND' | translate}}<br>
                        {{'COMMON.CONTENT_LINK_CONTACT_ADMIN_THIRD' | translate}}
                        <a
                            (click)="sendMailToService()">{{'COMMON.LINK_CONTACT_ADMIN' | translate}}</a>{{'COMMON.CONTENT_LINK_CONTACT_ADMIN_LAST' | translate}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>